<form [formGroup]="passwordForm">
  <app-form-field
    controlName="email"
    id="email"
    label="Email"
    placeholder="mail@mic.co.in"
    type="email"
  ></app-form-field>
  <div class="send-otp-div">
    <button
      type="button"
      class="send-otp"
      (click)="startTimer()"
      [disabled]="!otpExpired && counter < 120 && counter > 0"
    >
      Send OTP
    </button>
  </div>

  <span *ngIf="otpSent && !otpExpired" style="color: rgb(247, 107, 107)">
    OTP will expire in {{ formattedTime }}
  </span>

  <span *ngIf="otpExpired" style="color: red">
    OTP has expired. Click "Send OTP" to get a new OTP.
  </span>

  <app-form-field
    controlName="otp"
    id="otp"
    label="OTP"
    placeholder="Min. 4 characters"
    type="text"
  ></app-form-field>

  <button class="reset-btn" (click)="resetPassword()">Reset Password</button>
</form>
