form {
  width: 100vw;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.send-otp-div {
  display: flex;
  justify-content: center;
}

.send-otp {
  width: 50%;
   background: #253fcd;
   color: white;
}

.reset-btn {
  background: #253fcd;
  color: #fff;
}

.disable-btn {
  background: #f0efef;
  cursor: not-allowed;
}

.send-otp-btn {
  width: 100%;
  margin: 12px 0;
  padding: 10px;
  cursor: pointer;
}

.timer {
  color: #0d6efd;
  font-size: 14px;
  margin-bottom: 10px;
}

.expired {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
